@{
    ViewData["Title"] = "Home Page";
}

<article>
    <header>
        <h3 class="post-title"><a href="/posts/post-1.html">npm audit: Broken by Design</a></h3>
        <small>July 7, 2021 • ☕️☕️☕️ 14 min read</small>
    </header>
    <p>Found 99 vulnerabilities (84 moderately irrelevant, 15 highly irrelevant)</p>
</article>

<article>
    <header>
        <h3 class="post-title"><a href="#">Before You memo()</a></h3>
        <small>February 23, 2021 • ☕️ 5 min read</small>
    </header>
    <p>Rendering optimizations that come naturally.</p>
</article>

<article>
    <header>
        <h3 class="post-title"><a href="#">The WET Codebase</a></h3>
        <small>July 13, 2020 • ☕️ 1 min read</small>
    </header>
    <p>Come waste your time with me.</p>
</article>