@{
    ViewData["Title"] = "Home Page";
}

@model List<BlogPostModel>

@foreach (var post in Model){
    <article>
        <header>
            <h3 class="post-title"><a href="/posts/post-1.html">@post.Title</a></h3>
            <small>@post.CreatedDate • ☕️☕️☕️ 14 min read</small>
        </header>
        <p>@post.Description</p>
    </article>
}